.container1 {
    display: flex;
}
.content-body1{
    width:100px;
}

.content {
    width: 100%;
    height:90vh;
}
* {
    overflow: hidden;
}
body {
    background-image: url('back1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a {
    font-family: Arial;
    text-decoration: none;
    color: aliceblue;
    font-size: 21px;
    text-shadow: 2px 2px 2px black;
}
h1 {
    color: aliceblue;
    font-family: Arial;
    text-shadow: 2px 2px 2px black;
}
